.container
  .row
    .col.s12.m4.l2
      .pm
        %h2.text-center.login-title Avatar and links
      %ul
        %li
          %a{:href => ""} About
          %a{:href => ""} About
          %a{:href => ""} About

    .col.s12.m4.l8
      .pf
        %h2.text-center.login-title Posts
    .col.s12.m4.l2
      %h2.text-center.login-title Events columns
