

<%= link_to (image_tag current_user.avatar.url(:small)), edit_user_registration_path %>
<h1>
<%= current_user.name %>
</h1>
<span>
<%= link_to "view my profile", edit_user_registration_path %>
</span>
<span>
<%= pluralize(current_user.feeds.count, "feed") %>
</span>
